@charset "utf-8";

h1, h2, h3, h4, h5, h6, p{
	/* color:#36160E; */
	color:#7A6058;
	background-color:transparent;
}

.portfolio-item .item-info{
	padding: 0px;
	margin: 0px;
}
	
div.item-info div.progress
{
	float:left; 
	margin:10px 0px 5px 10px;
}

div.item-info div.time
{
	float:right; 
	font-weight: bold; 
	margin: 10px 10px 5px 0px;
}

div.item-info div.want_amount div.amount_title
{
	clear:left;
	float:left; 
	width:60px; 
	height:16px; 
	background-color: #F08337; 
	font-size:14px; 
	color: #ffffff; 
	padding:5px 10px; 
	margin: 0px 0px 0px 10px;	
}

div.item-info div.want_amount div.value
{
	float:left; 
	font-size:14px; 
	color:#F08337 ; 
	padding:5px 10px; 
	margin: 0px 0px 0px 10px;
}

div.item-info div.from
{
	clear:both;
	float:left;
	width:90%; 
	height:25px; 
	text-align: left; 
	overflow: hidden;
	margin: 5px 0px 5px 10px;
	color: #36160E;
}

div.item-info div.information
{
	width:100%; 
	background-color: #E9E4D9; 
	padding:0px; 
	text-align: left; 
	margin: 5px 0px 0px 0px;
}

div.item-info div.if_reach
{
	font-size:15px; 
	font-weight: bold;
	color:#F08337; 
	padding: 5px 0px 5px 10px;
}

div.item-info div.special
{
	font-size:15px; 
	font-weight: bold;
	color:#F08337;
	margin: 0px 0px 5px 10px;
}

div.hart_progress
{
	top:5px;
	right:5px;
	position:absolute
}

div.hidden_want_amount
{
	visibility: hidden;
}

div.hidden_create_date
{
	visibility: hidden;	
}

div.hidden_total_progress
{
	visibility: hidden;	
	
}

/* 右側ペイン */

div#item_info_side
{
	display:block;
	margin:5%;
	width:90%;
	position:relative;
	color: #7A6058;
}

div#item_info_side div.hart_progress
{
	position:absolute;
	display:block;
	top:0px;
	right:0px;
}

div#item_info_side div.time
{
	float:right; 
	font-weight: bold; 
	margin: 10px 10px 5px 0px;
}

div#item_info_side img.title
{
	margin-bottom:20px;
}

div#item_info_side div.sidebox img.user
{
	width:50px;
	height: 50px;
}

div#item_info_side div.sidebox h3
{
	font-size:16px;
	padding:5px;
	margin:0px;	
	display: inline;
}

div#item_info_side div.sidebox h4
{
	font-size:8px;
	padding:5px 2px;
	margin:0px;
	font-weight:normal;
}


div.box
{
	width:100%;
	position:relative;
	clear:both;
	padding:0px;
	margin:10px 0px;
}

div.brown_title
{
	float:left; 
	width:80px; 
	height:28px; 
	background-color: #36160E; 
	font-size:14px; 
	color: #ffffff; 
	padding:0px; 
	margin: 0px;	
	text-align:center;
	font-weight: bold;
}

div.box div.value
{
	float:left; 
	font-size:13px; 
	color:#36160E ; 
	padding:0px; 
	margin: 0px 0px 0px 10px;
}

div#item_info_side div.progress
{
	text-align:center;
	margin: 5px 0px;
}

div#item_info_side h3
{
	margin-top:10px;
}

div.container.main h2
{
	font-size:30px;
	font-weight: bold;
}

div.container.main div.user_info
{
	margin: 10px auto;
/*	clear:both;*/
	width:100%;
	display: block;;

}

div.container.main div.user_info div.face
{
	width:50px;
	height:50px;
	background-color:#F08337;
	padding:25px;
	margin:0px;
	float:left;
}

div.container.main div.user_info div.face img
{
	width:50px;
	height:50px;
	margin:0px;
	padding:0px;
}


div.container.main div.user_info div.data
{
	background-color:#E9E4D9;
	width:75%;
	min-height:86px;
	
	margin:0px 0px 0px 15px;
	float:left;
	padding: 10px;
}

div.container.main div.user_info div.data h3
{
	font-size:20px;
	padding:5px;
	margin:0px;
}

div.container.main div.user_info div.data p
{
	display:block;
	font-size:12px;
	width:auto;
}

div#rightside
{
	background-color:#E9E4D9; 
}

div.donation
{
	background-color:#ffffff;
	padding-bottom:10px;
	margin-bottom:10px;
}

a.donation
{
	border: solid 1px #FFFFFF;
	display:block;
	background-color:#ffffff;
	color: #7A6058;
	float:left;
	width:99%;
}

a.donation:hover
{
	border: solid 1px #F08337;
	color: none;
	background-color:#E9E4D9;
}

div.donation p.price
{
	font-size:23px;
	font-weight:bold;
	color:#F08337;
	text-align:right;
	margin:0px 20px 0px 0px;
}

/* フッター */
.footer{
	background-color:#D3C1A6;
	color:#36160E;
}

.footer h1, 
.footer h2, 
.footer h3, 
.footer h4, 
.footer h5, 
.footer h6 {
	color: #36160E;
}

.footer-bottom
{
	background-color:#36160E;
}

div.project
{
	clear:both;
	width:100%;
}

div.tab-disp
{
	clear:both;
	border: solid 15px #36160E;
	padding:15px;
	width:85%;
	position:relative;
	margin-top:50px;
	font-size:15px;
	color: #7A6058;
	
}

a.newuser
{
	width:80px; 
	height:20px; 
	background-color: #36160E; 
	font-size:10px; 
	color: #ffffff; 
	padding:0px; 
	margin: 0px;	
	text-align:center;
	display:block;
	position:absolute;
	top:3px;
	right:26%;
	font-weight: normal;
}

a.login
{
	width:80px; 
	height:20px; 
	background-color: #F08337; 
	font-size:10px; 
	color: #ffffff; 
	padding:0px; 
	margin: 0px;	
	text-align:center;
	display:block;
	position:absolute;
	top:3px;
	right:17%;
	font-weight: normal;
}

a.fblogin
{
	width:130px; 
	height:20px; 
	background-color: #3B5998; 
	font-size:10px; 
	color: #ffffff; 
	padding:0px; 
	margin: 0px;	
	text-align:center;
	display:block;
	position:absolute;
	top:3px;
	right:3%;
	font-weight: normal;
}

a.logout
{
	width:80px; 
	height:20px; 
	background-color: #d3c1a6; 
	font-size:10px; 
	color: #ffffff; 
	padding:0px; 
	margin: 0px;	
	text-align:center;
	display:block;
	position:absolute;
	top:3px;
	right:17%;
	font-weight: normal;
}

a.mypage
{
	width:80px; 
	height:20px; 
	background-color: #F08337; 
	font-size:10px; 
	color: #ffffff; 
	padding:0px; 
	margin: 0px;	
	text-align:center;
	display:block;
	position:absolute;
	top:3px;
	right:8%;
	font-weight: normal;
}


div.planner
{
	width:90px; 
	background-color: #36160E; 
	color:#ffffff; 
	font-weight: bold; 
	font-size:14px; 
	padding: 5px; 
	margin-bottom: 10px; 
	text-align: center;
}

div.report_title
{
	background-color: #36160E;
	padding: 15px 25px;
	color: #ffffff;
	font-size: 18px;
	/* width:100%;	 */
}

div.report_list
{
	padding: 15px 0px;
}

.portfolio-item .item-info .item-title a 
{
	color: #36160E;
}

a.tab-click
{
	display:block-inline;

	position:absolute; 
	top: -50px; 
	width:120px; 
	height:40px; 
	background-color: #D3C1A6;
	color:#FFFFFF;
	text-align: center;
	padding-top:10px;
	font-weight: bold	
}

a.tab-click:hover
{
	display:block;

	position:absolute; 
	top: -50px; 
	width:120px; 
	height:40px; 
	background-color: #ffffff;
	color:#FFFFFF;
	text-align: center;
	padding-top:10px;
	font-weight: bold	
}

a.tab-click:active
{
	display:block;

	position:absolute; 
	top: -50px; 
	width:120px; 
	height:40px; 
	background-color: #ff0000;
	color:#FFFFFF;
	text-align: center;
	padding-top:10px;
	font-weight: bold	
}

div.tab-disp div.tab-click-tab1-prj
{
	display:block;
	cursor:pointer;
	position:absolute; 
	top: -50px; 
	width:120px; 
	height:50px; 
	background-image: url('../img/prj-tab1.jpg')	
}

div.tab-disp div.tab-click-tab1-prj-a
{
	display:block;
	cursor:pointer;
	position:absolute; 
	top: -50px; 
	width:120px; 
	height:50px; 
	background-image: url('../img/prj-tab1-a.jpg');
	visibility: visible;
}

div.tab-disp div.tab-click-tab1-prj:hover
{
	background-image: url('../img/prj-tab1-h.jpg')	
}

div.tab-disp div.tab-click-tab1-prj:active
{
	background-image: url('../img/prj-tab1-a.jpg')	
}

div.tab-disp div.tab-click-tab2-prj
{
	display:block;
	cursor:pointer;
	position:absolute; 
	top: -50px; 
	width:120px; 
	height:50px; 
	left:150px;
	background-image: url('../img/prj-tab2.jpg');
}

div.tab-disp div.tab-click-tab2-prj-a
{
	display:block;
	cursor:pointer;
	position:absolute; 
	top: -50px; 
	width:120px; 
	height:50px; 
	left:150px;
	background-image: url('../img/prj-tab2-a.jpg');
	visibility: hidden;
}

div.tab-disp div.tab-click-tab2-prj:hover
{
	background-image: url('../img/prj-tab2-h.jpg')	;
}

div.tab-disp div.tab-click-tab2-prj:active
{
	background-image: url('../img/prj-tab2-a.jpg')	;
}

div.tab-disp div.tab-click-tab3-prj
{
	display:block;
	cursor:pointer;
	position:absolute; 
	top: -50px; 
	width:120px; 
	height:50px; 
	left:285px;
	background-image: url('../img/prj-tab3.jpg')	
}

div.tab-disp div.tab-click-tab3-prj-a
{
	display:block;
	cursor:pointer;
	position:absolute; 
	top: -50px; 
	width:120px; 
	height:50px; 
	left:285px;
	background-image: url('../img/prj-tab3-a.jpg');
	visibility: hidden;
}

div.tab-disp div.tab-click-tab3-prj:hover
{
	background-image: url('../img/prj-tab3-h.jpg');
}

div.tab-disp div.tab-click-tab3-prj:active
{
	background-image: url('../img/prj-tab3-a.jpg');
}

div.tab-disp div.tab-click-tab1-team
{
	display:block;
	cursor:pointer;
	position:absolute; 
	top: -50px; 
	width:120px; 
	height:50px; 
	background-image: url('../img/team-tab1.jpg')	
}

div.tab-disp div.tab-click-tab1-team-a
{
	display:block;
	cursor:pointer;
	position:absolute; 
	top: -50px; 
	width:120px; 
	height:50px; 
	background-image: url('../img/team-tab1-a.jpg');
	visibility: visible;
}

div.tab-disp div.tab-click-tab1-team:hover
{
	background-image: url('../img/team-tab1-h.jpg')	
}

div.tab-disp div.tab-click-tab1-team:active
{
	background-image: url('../img/team-tab1-a.jpg')	
}

div.tab-disp div.tab-click-tab2-team
{
	display:block;
	cursor:pointer;
	position:absolute; 
	top: -50px; 
	width:120px; 
	height:50px; 
	left:150px;
	background-image: url('../img/team-tab2.jpg');
}

div.tab-disp div.tab-click-tab2-team-a
{
	display:block;
	cursor:pointer;
	position:absolute; 
	top: -50px; 
	width:120px; 
	height:50px; 
	left:150px;
	background-image: url('../img/team-tab2-a.jpg');
	visibility: hidden;
}

div.tab-disp div.tab-click-tab2-team:hover
{
	background-image: url('../img/team-tab2-h.jpg')	;
}

div.tab-disp div.tab-click-tab2-team:active
{
	background-image: url('../img/team-tab2-a.jpg')	;
}

div.tab-disp div.tab-click-tab3-team
{
	display:block;
	cursor:pointer;
	position:absolute; 
	top: -50px; 
	width:120px; 
	height:50px; 
	left:285px;
	background-image: url('../img/team-tab3.jpg')	
}

div.tab-disp div.tab-click-tab3-team-a
{
	display:block;
	cursor:pointer;
	position:absolute; 
	top: -50px; 
	width:120px; 
	height:50px; 
	left:285px;
	background-image: url('../img/team-tab3-a.jpg');
	visibility: hidden;
}

div.tab-disp div.tab-click-tab3-team:hover
{
	background-image: url('../img/team-tab3-h.jpg');
}

div.tab-disp div.tab-click-tab3-team:active
{
	background-image: url('../img/team-tab3-a.jpg');
}


div.tab-team
{
	width:120px; 
	border-right: solid 8px #F08337;	
	float:left;
}

div.tab-team-item
{
	height:40px;
	width:115px;
	font-size: 14px;
	color:#F08337;
	text-align: center;
	padding-top: 5px;
}

div.tab-team-content
{
	width:400px; 
	float:left;
	padding-left:15px;
}

div.tab-team-content-item
{
	width:395px; 
	height:35px;
	font-size: 14px;
	padding-top: 10px;
	line-height: 16px;
}

div.sidebox
{
	background-color:#ffffff;
	padding:5px;
	margin-bottom:10px;
}

div.brown_date
{
	float:left; 
	width:160px; 
	height:28px; 
	background-color: #36160E; 
	font-size:14px; 
	color: #ffffff; 
	padding:0px; 
	margin: 15px 0px;	
	text-align:center;
	clear: both;
}

div.tour-item
{
	width:100%;
	padding: 10px;
	color:#36160E	
}

div.tour_item img
{
	float:left;
	clear:left;	
}

div.tour-item-inside-left
{
	float:left;
	background-color: #E9E4D9;
	width: 150px;
	height:24px;
	font-size:14px;
	margin:0px 20px;
	text-align: center; 
}

div.tour-item-inside
{
	float:left;
	font-size:14px;
	width:300px;
}

div.tab-under
{
	width: 107%;
	background-color: #36160E;
	text-align: center;
	margin: 0px 0px -15px -15px;
	padding: 20px 0px;
}

.header .brand .logo img {
	max-height: 76px;
	max-width: 215px;
}

form .submit input[type=submit] {
	background:#62af56;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#B2D362), to(#8EC31F));
	background-image: -webkit-linear-gradient(top, #B2D362, #8EC31F);
	background-image: -moz-linear-gradient(top, #B2D362, #8EC31F);
	border-color: #2d6324;
	color: #fff;
	text-shadow: rgba(0, 0, 0, 0.5) 0px -1px 0px;
	padding: 8px 10px;
}

form .submit input[type=submit]:hover {
	background: #B2D362;
}

div.view dd {
	margin-left:120px;
}



@media only screen and (max-width: 767px) {

	a.newuser
	{
		width:50px; 
		height:20px; 
		background-color: #36160E; 
		font-size:10px; 
		color: #ffffff; 
		padding:0px; 
		margin: 0px;	
		text-align:center;
		display:block;
		position:absolute;
		top:3px;
		right:60%;
		font-weight: normal;
	}
	
	a.login
	{
		width:50px; 
		height:20px; 
		background-color: #F08337; 
		font-size:10px; 
		color: #ffffff; 
		padding:0px; 
		margin: 0px;	
		text-align:center;
		display:block;
		position:absolute;
		top:3px;
		right:40%;
		font-weight: normal;
	}
	
	a.fblogin
	{
		width:100px; 
		height:20px; 
		background-color: #3B5998; 
		font-size:10px; 
		color: #ffffff; 
		padding:0px; 
		margin: 0px;	
		text-align:center;
		display:block;
		position:absolute;
		top:3px;
		right:3%;
		font-weight: normal;
	}

	a.logout
	{
		width:80px; 
		height:20px; 
		background-color: #d3c1a6; 
		font-size:10px; 
		color: #ffffff; 
		padding:0px; 
		margin: 0px;	
		text-align:center;
		display:block;
		position:absolute;
		top:3px;
		right:40%;
		font-weight: normal;
	}

	a.mypage
	{
		width:80px; 
		height:20px; 
		background-color: #F08337; 
		font-size:10px; 
		color: #ffffff; 
		padding:0px; 
		margin: 0px;	
		text-align:center;
		display:block;
		position:absolute;
		top:3px;
		right:10%;
		font-weight: normal;
	}


	div.tab-disp
	{
		clear:both;
		width:87%;
		border: solid 5px #36160E;
		padding:15px;
		position:relative;
		margin-top:50px;
		font-size:15px;
		color: #7A6058;
		
	}

	div.tab-under
	{
		width: 112%;
		background-color: #36160E;
		text-align: center;
		margin: 0px 0px -15px -15px;
		padding: 20px 0px;
	}

	div.tab-disp div.tab-click-tab1-prj
	{
		display:block;
		cursor:pointer;
		position:absolute; 
		top: -29px; 
		width:70px; 
		height:29px; 
		background-size: cover;
		background-image: url('../img/prj-tab1.jpg')	
	}
	
	div.tab-disp div.tab-click-tab1-prj-a
	{
		display:block;
		cursor:pointer;
		position:absolute; 
		top: -29px; 
		width:70px; 
		height:29px; 
		background-image: url('../img/prj-tab1-a.jpg');
		background-size: cover;
		visibility: visible;
	}
		
	div.tab-disp div.tab-click-tab2-prj
	{
		display:block;
		cursor:pointer;
		position:absolute; 
		top: -29px; 
		width:70px; 
		height:29px; 
		left:95px;
		background-image: url('../img/prj-tab2.jpg');
		background-size: cover;
	}
	
	div.tab-disp div.tab-click-tab2-prj-a
	{
		display:block;
		cursor:pointer;
		position:absolute; 
		top: -29px; 
		width:70px; 
		height:29px; 
		left:95px;
		background-image: url('../img/prj-tab2-a.jpg');
		background-size: cover;
		visibility: hidden;
	}
		
	div.tab-disp div.tab-click-tab3-prj
	{
		display:block;
		cursor:pointer;
		position:absolute; 
		top: -29px; 
		width:70px; 
		height:29px; 
		left:175px;
		background-image: url('../img/prj-tab3.jpg');
		background-size: cover;
	}
	
	div.tab-disp div.tab-click-tab3-prj-a
	{
		display:block;
		cursor:pointer;
		position:absolute; 
		top: -29px; 
		width:70px; 
		height:29px; 
		left:175px;
		background-image: url('../img/prj-tab3-a.jpg');
		background-size: cover;
		visibility: hidden;
	}
		
	div.tab-disp div.tab-click-tab1-team
	{
		display:block;
		cursor:pointer;
		position:absolute; 
		top: -29px; 
		width:70px; 
		height:29px; 
		background-image: url('../img/team-tab1.jpg');
		background-size: cover;
	}
	
	div.tab-disp div.tab-click-tab1-team-a
	{
		display:block;
		cursor:pointer;
		position:absolute; 
		top: -29px; 
		width:70px; 
		height:29px; 
		background-image: url('../img/team-tab1-a.jpg');
		background-size: cover;
		visibility: visible;
	}
	
	div.tab-disp div.tab-click-tab2-team
	{
		display:block;
		cursor:pointer;
		position:absolute; 
		top: -29px; 
		width:70px; 
		height:29px; 
		left:95px;
		background-image: url('../img/team-tab2.jpg');
		background-size: cover;
	}
	
	div.tab-disp div.tab-click-tab2-team-a
	{
		display:block;
		cursor:pointer;
		position:absolute; 
		top: -29px; 
		width:70px; 
		height:29px; 
		left:95px;
		background-image: url('../img/team-tab2-a.jpg');
		background-size: cover;
		visibility: hidden;
	}
	
	div.tab-disp div.tab-click-tab3-team
	{
		display:block;
		cursor:pointer;
		position:absolute; 
		top: -29px; 
		width:70px; 
		height:29px; 
		left:175px;
		background-image: url('../img/team-tab3.jpg');
		background-size: cover;
	}
	
	div.tab-disp div.tab-click-tab3-team-a
	{
		display:block;
		cursor:pointer;
		position:absolute; 
		top: -29px; 
		width:70px; 
		height:29px; 
		left:175px;
		background-image: url('../img/team-tab3-a.jpg');
		background-size: cover;
		visibility: hidden;
	}
	
	div.tour-item-inside
	{
		float:left;
		font-size:14px;
		width:100%;
	}	

	div.tab-team
	{
		width:110px; 
		border-right: solid 8px #F08337;	
		float:left;
	}

	div.tab-team-item
	{
		height:80px;
		width:115px;
		font-size: 14px;
		color:#F08337;
		text-align: center;
		padding-top: 5px;
	}
	
	div.tab-team-content
	{
		width:50%; 
		float:left;
		padding-left:2px;
	}

	div.tab-team-content-item
	{
		width:100%; 
		height:70px;
		font-size: 14px;
		padding-top: 10px;
		line-height: 16px;
	}

}